
.indent {
 margin-left: 222px!important
}

.flex-center {
  display: flex;
  justify-content: center;
}

.toolbar-footer {
  padding-top: 10px;
  padding-bottom: 5px;
}


.uuid {
  font-size: 12px!important
}

.tooltip {
   /*position: absolute;*/
    display: inline-block;
}

.tooltip .tooltiptext {
    margin-top: 20px;
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 4px;
    border-radius: 2px;
    position: absolute;
    z-index: 1000;
    font-size: 12px; 

}

.tooltip:hover .tooltiptext {
    visibility: visible;
}



td.record_control div{
    padding: 4px;
    font-size: 1.2em;
}

/* override the photon highlighting */
tr:active{
    background-color: transparent;
    color: #333; 
 }


.form-action {
    font-size: 1.3em;
    font-weight: bold
}

.tab_filters th {
   border: 0px 
}

tr.focused{
    background-color: #eee; /* no need to highlight */
}

tr.selected{
    background-color: #eee;
}

tr,th,td{
  -webkit-user-select: text;
}

td * {
  -webkit-user-select: text;
}


form * {
  -webkit-user-select: text;
}

.tab-group{
    background-color:#b8b6b8;
}
.tab-item{
    flex:none;
    width: 300px;
    white-space: nowrap;
}

.flex{
    flex: 1
}

.tab-item.has-many{
    flex:none;
    width:150px;
    white-space: nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}

.main_container{
    overflow:hidden;
}

